# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Jenkins-Action
      uses: joshlk/jenkins-githubaction@V0.0.1
      with:
          url: https://preview-800221ef-cf33-42ea-943a-ad2bec416c7e.usergeneratedcontent.udemylabs.com/
          job_name: test
          username: labsuser
          api_token: 1145bdfb23154f28dbd07284405095a08a
          timeout: "1000"

